In [1]:
import pandas as pd

data = pd.read_csv("../data/sales_dataset_1M.csv")
print(data.head(4))

         Date ProductID                       Product Name CustomerID  \
0  2020-07-01    N15085  Nylon Insert Lock Nut (Nyloc Nut)     C96639
1  2023-12-23    P28509                              Rivet     C62320
2  2021-09-21    S83599                      Drywall Screw     C49272
3  2023-10-01    B75388                             U-Bolt     C43336

  TransactionID               Grade                              Size  \
0        T45287             IS 6623                               M12
1        T73990             IS 3757    M8 x 30 with M8 Nut and Washer
2        T78331   IS 1367 Grade 8.8  M12 x 40 with M12 Nut and Washer
3        T17769  IS 1367 Grade 10.9                           M8 x 20

   Sales Amount  Quantity Sold    Cost Sales Channel Discounts Applied  \
0       4398.75             23  259.35      In-Store   0% (percentage)
1       2648.46             65  162.99        Online   3% (percentage)
2       1676.56             47  640.83      In-Store  18% (percentage)
3       2939.90             30  118.72      In-Store   9% (percentage)

  Order Status Return Status Region(Statewise)
0    Completed  Not Returned     Uttar Pradesh
1      Pending      Returned           Mizoram
2    Cancelled      Returned  Himachal Pradesh
3     Refunded      Refunded       West Bengal

In [ ]:
data.info()

In [ ]:
data.describe()

In [2]:
data.dtypes

Date                  object
ProductID             object
Product Name          object
CustomerID            object
TransactionID         object
Grade                 object
Size                  object
Sales Amount         float64
Quantity Sold          int64
Cost                 float64
Sales Channel         object
Discounts Applied     object
Order Status          object
Return Status         object
Region(Statewise)     object
dtype: object

In [4]:
# To convert the date column to date in format as dd-mm-yyyy
data['Date'] = pd.to_datetime(data['Date'],format='%d-%m-%Y')
# data.dtypes

In [5]:
# To convert the ProductID column to string
data['ProductID'] = data['ProductID'].astype(str)

In [6]:
# The Discounts Applied column has values as 15% (percentage). So we need to remove the % sign and (percentage) text and convert it to decimal values.
data['Discounts Applied'] = data['Discounts Applied'].str.replace('%', '').str.replace('(percentage)', '').astype(float) / 100
data['Discounts Applied']

0         0.00
1         0.03
2         0.18
3         0.09
4         0.01
          ...
999995    0.06
999996    0.08
999997    0.09
999998    0.19
999999    0.18
Name: Discounts Applied, Length: 1000000, dtype: float64

In [7]:
# Finally we will save the cleaned data to a new csv file
data.to_csv("../data/sales_dataset_cleaned_1M.csv", index=False)

In [ ]:
data['Product Name'].unique()

# Cleaning India States DataSet

In [1]:
import pandas as pd
data = pd.read_csv("../info/India States-UTs.csv")
data.head(4)

                      State/UT  Latitude  Longitude
0  Andaman and Nicobar Islands   11.7401    92.6586
1               Andhra Pradesh   15.9129    79.7400
2            Arunachal Pradesh   28.2180    94.7278
3                        Assam   31.1048    77.1734

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State/UT   36 non-null     object
 1   Latitude   36 non-null     float64
 2   Longitude  36 non-null     float64
dtypes: float64(2), object(1)
memory usage: 996.0+ bytes

In [ ]:
# To convert the State column to string
data['State/UT'] = data['State/UT'].astype(str)
data['State/UT']

In [19]:
data.dtypes

State/UT      object
Latitude     float64
Longitude    float64
dtype: object

In [4]:
data.isnull().sum()

State/UT     0
Latitude     0
Longitude    0
dtype: int64