In [1]:
import pandas as pd

data = pd.read_csv("../data/sales_dataset_100k.csv")
print(data.head(4))

         Date ProductID   Product Name CustomerID TransactionID  \
0  2020-09-03    N46394       Wing Nut   VIP72487        T45656
1  2022-05-14    N90515          T-Nut     B40984        T93243
2  2020-06-21    S12091  Machine Screw     C94463        T94842
3  2022-08-16    N61243        Hex Nut     C50011        T11719

            Grade     Size  Sales Amount  Quantity Sold    Cost Sales Channel  \
0         IS 6623      M16       4537.63             25  320.36   Phone Order
1  IS 1363 Part 1      M12       4391.03             73  279.08   Email Order
2         IS 1366  M8 x 30       1954.00             73  478.72      In-Store
3        IS 12427      M12       2281.52             51  772.20   Phone Order

  Discounts Applied Order Status Return Status Region(Statewise)
0  17% (percentage)      Shipped      Returned           Tripura
1  17% (percentage)    Completed      Exchange           Manipur
2  12% (percentage)      Pending      Refunded     Uttar Pradesh
3   3% (percentage)    Cancelled      Refunded        Puducherry

In [ ]:
data.info()

In [ ]:
data.describe()

In [10]:
data.dtypes

Date                 datetime64[ns]
ProductID                    object
Product Name                 object
CustomerID                   object
TransactionID                object
Grade                        object
Size                         object
Sales Amount                float64
Quantity Sold                 int64
Cost                        float64
Sales Channel                object
Discounts Applied           float64
Order Status                 object
Return Status                object
Region(Statewise)            object
dtype: object

In [ ]:
# To convert the date column to date in format as dd-mm-yyyy
data['Date'] = pd.to_datetime(data['Date'],format='%d-%m-%Y')
data.dtypes

In [5]:
# To convert the ProductID column to string
data['ProductID'] = data['ProductID'].astype(str)

In [ ]:
# The Discounts Applied column has values as 15% (percentage). So we need to remove the % sign and (percentage) text and convert it to decimal values.
data['Discounts Applied'] = data['Discounts Applied'].str.replace('%', '').str.replace('(percentage)', '').astype(float) / 100
data['Discounts Applied']

In [26]:
# Finally we will save the cleaned data to a new csv file
data.to_csv("../data/sales_dataset_cleaned_100k.csv", index=False)

In [ ]:
data['Product Name'].unique()

# Cleaning India States DataSet

In [1]:
import pandas as pd
data = pd.read_csv("../info/India States-UTs.csv")
data.head(4)

                      State/UT  Latitude  Longitude
0  Andaman and Nicobar Islands   11.7401    92.6586
1               Andhra Pradesh   15.9129    79.7400
2            Arunachal Pradesh   28.2180    94.7278
3                        Assam   31.1048    77.1734

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State/UT   36 non-null     object
 1   Latitude   36 non-null     float64
 2   Longitude  36 non-null     float64
dtypes: float64(2), object(1)
memory usage: 996.0+ bytes

In [ ]:
# To convert the State column to string
data['State/UT'] = data['State/UT'].astype(str)
data['State/UT']

In [19]:
data.dtypes

State/UT      object
Latitude     float64
Longitude    float64
dtype: object

In [4]:
data.isnull().sum()

State/UT     0
Latitude     0
Longitude    0
dtype: int64