In [47]:
import pandas as pd

data = pd.read_csv("../data/sales_dataset_500k_part_2.csv")
print(data.head(4))

         Date ProductID              Product Name CustomerID TransactionID  \
0  2020-03-08    B50986          Zinc-Plated Bolt     C98335        T87978
1  2020-12-16    S35661           Oval Head Screw     C35646        T50227
2  2021-07-18    B68010  Washer and Bolt Assembly     C20517        T52923
3  2020-06-07    W43498    Stainless Steel Washer     C71616        T49584

     Grade                              Size  Sales Amount  Quantity Sold  \
0  IS 6639                          M12 x 40       2269.23             36
1  IS 1366                           M5 x 16       4560.09             76
2  IS 3757  M12 x 40 with M12 Nut and Washer        418.77             56
3  IS 6735                       M6 x 12 x 1       4125.07             35

     Cost Sales Channel Discounts Applied Order Status Return Status  \
0  574.83      In-Store  14% (percentage)    Completed  Not Returned
1  157.08   Email Order  14% (percentage)    Completed  Not Returned
2  697.86      In-Store  11% (percentage)      Pending  Not Returned
3  589.22   Phone Order  18% (percentage)    Completed  Not Returned

  Region(Statewise)
0           Manipur
1           Haryana
2           Haryana
3             Bihar

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date               500000 non-null  object
 1   ProductID          500000 non-null  object
 2   Product Name       500000 non-null  object
 3   CustomerID         500000 non-null  object
 4   TransactionID      500000 non-null  object
 5   Grade              500000 non-null  object
 6   Size               500000 non-null  object
 7   Sales Amount       500000 non-null  float64
 8   Quantity Sold      500000 non-null  int64
 9   Cost               500000 non-null  float64
 10  Sales Channel      500000 non-null  object
 11  Discounts Applied  500000 non-null  object
 12  Order Status       500000 non-null  object
 13  Return Status      500000 non-null  object
 14  Region(Statewise)  500000 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 57.2+ MB

In [49]:
data.describe()

        Sales Amount  Quantity Sold           Cost
count  500000.000000  500000.000000  500000.000000
mean     2547.272549      50.483034     402.361447
std      1414.754610      28.898538     229.513393
min       100.000000       1.000000       5.000000
25%      1318.980000      25.000000     203.670000
50%      2547.510000      51.000000     402.220000
75%      3774.962500      76.000000     600.882500
max      4999.980000     100.000000     800.000000

In [50]:
data.dtypes

Date                  object
ProductID             object
Product Name          object
CustomerID            object
TransactionID         object
Grade                 object
Size                  object
Sales Amount         float64
Quantity Sold          int64
Cost                 float64
Sales Channel         object
Discounts Applied     object
Order Status          object
Return Status         object
Region(Statewise)     object
dtype: object

In [51]:
# To convert the date column to date in format as dd-mm-yyyy
data['Date'] = pd.to_datetime(data['Date'], format='ISO8601')
# data.dtypes

In [52]:
# To convert the ProductID column to string
data['ProductID'] = data['ProductID'].astype(str)

In [53]:
# The Discounts Applied column has values as 15% (percentage). So we need to remove the % sign and (percentage) text and convert it to decimal values.
data['Discounts Applied'] = data['Discounts Applied'].str.replace('%', '').str.replace('(percentage)', '').astype(float) / 100
data['Discounts Applied']

0         0.14
1         0.14
2         0.11
3         0.18
4         0.13
          ...
499995    0.02
499996    0.18
499997    0.09
499998    0.12
499999    0.07
Name: Discounts Applied, Length: 500000, dtype: float64

In [54]:
# Finally we will save the cleaned data to a new csv file
data.to_csv("../data/sales_dataset_cleaned_500k.csv", index=False)

In [55]:
data['Product Name'].unique()

array(['Zinc-Plated Bolt', 'Oval Head Screw', 'Washer and Bolt Assembly',
       'Stainless Steel Washer', 'T-Nut', 'Anchor Bolt Kit', 'Deck Screw',
       'Nylon Washer', 'Thin Nut', 'Set Screw', 'Stainless Steel Bolt',
       'Hex Head Screw', 'Round Head Screw', 'Drive Screw',
       'Concrete Screw', 'Split Lock Washer', 'Carriage Bolt',
       'Lag Screw', 'Belleville Washer', 'Eye Bolt', 'Toggle Bolt',
       'Neoprene Washer', 'Square Nut', 'U-Bolt', 'Insert Nut',
       'Wing Nut', 'Rivet', 'Slotted Nut', 'Flange Nut', 'Lock Washer',
       'Plastic Anchor', 'Bolt and Nut Assembly', 'Masonry Anchor',
       'Stainless Steel Nut', 'Eye Screw', 'Pan Head Screw',
       'Stainless Steel Screw', 'Flat Washer', 'Expansion Bolt',
       'Self-Drilling Screw', 'Lag Bolt', 'Machine Screw',
       'Flat Head Screw', 'Prevailing Torque Lock Nut', 'Curved Washer',
       'Zinc-Plated Washer', 'Thumb Screw', 'Wood Screw',
       'External Tooth Washer', 'Coupling Nut', 'High-Tensile Bolt',
       'Fender Washer', 'Nylon Insert Lock Nut (Nyloc Nut)',
       'Shoulder Bolt', 'Spring Washer', 'T-Head Bolt', 'Hex Head Bolt',
       'Dowel Screw', 'Countersunk Bolt', 'Countersunk Washer',
       'Countersunk Screw', 'Flange Bolt', 'Dome Nut',
       'Sheet Metal Screw', 'Castle Nut', 'Square Washer', 'K-Lock Nut',
       'Anchor Bolt', 'J-Bolt', 'Screw and Washer Assembly', 'Jam Nut',
       'U-Bolt with Plate Assembly', 'Drywall Screw', 'Cap Nut',
       'Copper Washer', 'Hex Nut', 'Internal Tooth Washer',
       'Socket Head Cap Screw', 'Elevator Bolt', 'Square Head Bolt',
       'Machine Bolt', 'Self-Tapping Screw', 'Sealing Washer'],
      dtype=object)

# Cleaning India States DataSet

In [56]:
import pandas as pd
data = pd.read_csv("../info/India States-UTs.csv")
data.head(4)

                      State/UT  Latitude  Longitude
0  Andaman and Nicobar Islands   11.7401    92.6586
1               Andhra Pradesh   15.9129    79.7400
2            Arunachal Pradesh   28.2180    94.7278
3                        Assam   31.1048    77.1734

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State/UT   36 non-null     object
 1   Latitude   36 non-null     float64
 2   Longitude  36 non-null     float64
dtypes: float64(2), object(1)
memory usage: 996.0+ bytes

In [58]:
# To convert the State column to string
data['State/UT'] = data['State/UT'].astype(str)
data['State/UT']

0                  Andaman and Nicobar Islands
1                               Andhra Pradesh
2                            Arunachal Pradesh
3                                        Assam
4                                        Bihar
5                                 Chhattisgarh
6     Dadra and Nagar Haveli and Daman and Diu
7                                        Delhi
8                                          Goa
9                                      Gujarat
10                                     Haryana
11                            Himachal Pradesh
12                                   Jharkhand
13                                   Karnataka
14                                      Kerala
15                                 Lakshadweep
16                              Madhya Pradesh
17                                 Maharashtra
18                                     Manipur
19                                   Meghalaya
20                                     Mizoram
21                                    Nagaland
22                                      Odisha
23                                  Puducherry
24                                      Punjab
25                                   Rajasthan
26                                      Sikkim
27                                  Tamil Nadu
28                                   Telangana
29                                     Tripura
30                                  Chandigarh
31                           Jammu and Kashmir
32                                      Ladakh
33                               Uttar Pradesh
34                                 Uttarakhand
35                                 West Bengal
Name: State/UT, dtype: object

In [59]:
data.dtypes

State/UT      object
Latitude     float64
Longitude    float64
dtype: object

In [60]:
data.isnull().sum()

State/UT     0
Latitude     0
Longitude    0
dtype: int64